.location {
  color: rgba(0, 0, 0, 1);
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.name-content {
  display: flex;
  gap: 10px;
}

.name-content img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.collapse-logement {
  display: flex;
  margin-top: 25px;
}

.description-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 10px;
}

.description-content h1 {
  color: rgba(255, 96, 96, 1);
  margin: 0;
}

.description-content p {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  margin: 0;
}

.tags-container {
  display: flex;
  gap: 10px;
}

.tag {
  background-color: rgba(255, 96, 96, 1);
  border-radius: 10px;
  color: white;
  padding: 5px 25px;
  font-size: 12px;
  font-weight: bold;
}
