.logement-container {
  margin: 50px 0 50px 0;
}

.location {
  color: rgba(0, 0, 0, 1);
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.name-content {
  display: flex;
  gap: 10px;
}

.name-rating-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.name-content img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.collapse-logement {
  display: flex;
  margin-top: 25px;
  gap: 35px;
}

.collapse-description {
  display: flex;
  flex-direction: column;
}

.description-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 10px;
}

.description-content h1 {
  color: rgba(255, 96, 96, 1);
  margin: 0;
}

.description-content p {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  margin: 0;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: rgba(255, 96, 96, 1);
  border-radius: 10px;
  color: white;
  padding: 5px 25px;
  font-size: 12px;
  font-weight: bold;
}

footer {
  margin-top: 100px;
}

@media (max-width: 520px) {
  .collapse-logement {
    display: flex;
    flex-direction: column;
  }
  .info-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .name-rating-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .rating-content .star {
    width: 13px;
    height: auto;
  }
}
