footer {
  background-color: rgba(0, 0, 0, 1);
  height: 209px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: rgba(255, 255, 255, 1);
}

.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
