.nav-bar {
  display: flex;
  justify-content: space-between;
}
.nav-link {
  display: flex;
  list-style-type: none;
  gap: 30px;
  font-weight: bold;
}
a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  height: fit-content;
}

/* css nav active  */
.nav-active {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

@media (max-width: 1068px) {
  .nav-link {
    gap: 15px;
  }
}

@media (max-width: 520px) {
  .nav-link {
    gap: 7px;
    padding: 0;
  }
}
